/* common.css 395 */
svg {
	position: absolute;
	width: 0;
	height: 0;
}

/* common.css 1274 */
.str-container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.str-container.col-1 .str-content-main {
	width: 100%;
	max-width: 950px;
	margin: 0 auto;
}

.str-container.col-1 .str-content-main>.str-inner {
	position: relative;
	padding: 50px 0 90px;
}

.str-container.col-1 .str-content-main>.str-inner>[class="mod-layout--section-01"]:first-child {
	padding-top: 0;
}

.str-container.col-1 .str-content-main>.str-inner>[class="mod-layout--section-01"]:last-child {
	padding-bottom: 0;
}

.str-container.col-1 .str-content-main>.str-inner> :first-child {
	margin-top: 0 !important;
}

.str-container.col-1 .str-content-main.of-w-1280 {
	max-width: 1280px;
}

.str-container.col-2 {
	display: flex;
	justify-content: center;
}

.str-container.col-2 .str-content-main {
	position: relative;
	order: 2;
	width: 100%;
	max-width: 950px;
	margin-left: 70px;
}

.str-container.col-2 .str-content-main>.str-inner {
	position: relative;
	padding: 50px 0 90px;
}

.str-container.col-2 .str-content-main>.str-inner>[class="mod-layout--section-01"]:first-child {
	padding-top: 0;
}

.str-container.col-2 .str-content-main>.str-inner>[class="mod-layout--section-01"]:last-child {
	padding-bottom: 0;
}

.str-container.col-2 .str-content-main>.str-inner> :first-child {
	margin-top: 0 !important;
}

.str-container.col-2 .str-content-side {
	position: relative;
	flex-shrink: 0;
	order: 1;
	width: 100%;
	max-width: 260px;
}

.str-container.col-2 .str-content-side>.str-inner {
	padding: 50px 0 90px;
}

.str-container.col-2 .str-content-side>.str-inner> :first-child {
	margin-top: 0 !important;
}

/* -------------------------------------------------------
hdg
------------------------------------------------------- */
.mod-hdg--lv1-01 {
	background-color: #f8f8f8;
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 200px;
	padding: 0 15px;
}

.mod-hdg--lv1-01>.wrap {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 15px 0;
}

.mod-hdg--lv1-01>.wrap .hdg {
	font-size: 3rem;
	font-weight: bold;
	line-height: 1.5;
	margin-top: 10px;
}

.mod-hdg--lv1-01>.wrap .sub-area {
	display: flex;
}

.mod-hdg--lv1-01>.wrap .sub-area .date {
	font-size: 1.4rem;
	line-height: 1.5;
	display: block;
}

.mod-hdg--lv1-01>.wrap .sub-area .category {
	font-size: 1.4rem;
	line-height: 1.5;
	color: #666;
	display: block;
	margin-left: 25px;
}

.mod-hdg--lv1-01>.wrap .sub-area+.hdg {
	margin-bottom: 20px;
}

.mod-hdg--lv1-01>.wrap> :first-child {
	margin-top: 0 !important;
}

.mod-hdg--lv1-02 {
	color: #fff;
	background-color: #556;
	background-image: url("/WebRelease2/r.1638167195629.do7mqs00000006rd/bm52e0000000002q/-/-/common/images/bg-hdg-01.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 200px;
	padding: 0 15px;
}

.mod-hdg--lv1-02::before {
	background-image: linear-gradient(rgba(34, 34, 34, .5), rgba(34, 34, 34, .5));
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
}

.mod-hdg--lv1-02>.wrap {
	z-index: 5;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 15px 0;
}

.mod-hdg--lv1-02>.wrap .hdg {
	font-size: 3rem;
	font-weight: bold;
	line-height: 1.5;
	margin-top: 10px;
}

.mod-hdg--lv1-02>.wrap .sub-area {
	display: flex;
}

.mod-hdg--lv1-02>.wrap .sub-area .date {
	font-size: 1.4rem;
	line-height: 1.5;
	display: block;
}

.mod-hdg--lv1-02>.wrap .sub-area .category {
	font-size: 1.4rem;
	line-height: 1.5;
	color: #fff;
	display: block;
	margin-left: 25px;
}

.mod-hdg--lv1-02>.wrap .sub-area+.hdg {
	margin-bottom: 20px;
}

.mod-hdg--lv1-02>.wrap> :first-child {
	margin-top: 0 !important;
}

.mod-hdg--lv2-01 {
	font-size: 2.8rem;
	font-weight: bold;
	line-height: 1.5;
	margin-top: 75px;
	text-align: left;
}

:root .mod-hdg--lv2-01+* {
	margin-top: 15px;
}

:root .mod-hdg--lv2-01+.mod-hdg--lv3-01 {
	margin-top: 25px;
}

:root .mod-hdg--lv2-01+.mod-text--container-01> :first-child {
	margin-top: 15px;
}

:root .mod-hdg--lv2-01+.mod-link--list-02 {
	margin-top: 45px;
}

.mod-hdg--lv2-01.of-link a {
	text-decoration: none;
	color: #222;
	display: inline-block;
	min-width: 455px;
}

.mod-hdg--lv2-01.of-link a:hover,
.mod-hdg--lv2-01.of-link a:active,
.mod-hdg--lv2-01.of-link a:focus {
	text-decoration: underline;
}

.mod-hdg--lv2-02 {
	margin-top: 90px;
}

.mod-hdg--lv2-02 a {
	font-size: 2.8rem;
	font-weight: bold;
	line-height: 1.5;
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding-left: 20px;
}

.mod-hdg--lv2-02 a:hover,
.mod-hdg--lv2-02 a:active,
.mod-hdg--lv2-02 a:focus {
	text-decoration: underline;
}

.mod-hdg--lv2-02 a::before {
	position: absolute;
	top: 16px;
	left: -3px;
	width: 11.5px;
	height: 11.5px;
	content: "";
	transform: rotate(45deg);
	border: solid #6d242e;
	border-width: 3px 3px 0 0;
	border-radius: 1px;
}

.mod-hdg--lv2-02+.mod-hdg--lv2-02 {
	margin-top: 60px;
}

.mod-hdg--lv3-01 {
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.5;
	text-align: left;
	margin-top: 40px;
	padding-bottom: 8px;
	border-bottom: 1px solid #ccc;
}

:root .mod-hdg--lv3-01+* {
	margin-top: 15px;
}

:root .mod-hdg--lv3-01+.mod-hdg--lv4-01 {
	margin-top: 25px;
}

:root .mod-hdg--lv3-01+.mod-text--container-01> :first-child {
	margin-top: 15px;
}

.mod-hdg--lv3-01.of-link a {
	text-decoration: none;
	color: #222;
	display: inline-block;
	min-width: 455px;
}

.mod-hdg--lv3-01.of-link a:hover,
.mod-hdg--lv3-01.of-link a:active,
.mod-hdg--lv3-01.of-link a:focus {
	text-decoration: underline;
}

.mod-hdg--lv3-01.of-link+.mod-link--list-01 {
	border-top: none;
}

.mod-hdg--lv4-01 {
	font-size: 1.7rem;
	font-weight: bold;
	line-height: 1.5;
	margin-top: 30px;
	padding-left: 9px;
	border-left: 5px solid #6d242e;
}

:root .mod-hdg--lv4-01+* {
	margin-top: 15px;
}

:root .mod-hdg--lv4-01+.mod-text--container-01> :first-child {
	margin-top: 15px;
}

.mod-hdg--default-01 {
	font-weight: bold;
	line-height: 1.5;
	margin-top: 25px;
}

:root .mod-hdg--default-01+* {
	margin-top: 10px;
}

.mod-hdg--default-02 {
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 1.5;
	color: #6d242e;
	margin-top: 25px;
}

.mod-hdg--table-01 {
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 1.5;
	margin-top: 30px;
}

/* -------------------------------------------------------
common.css 2067
text
------------------------------------------------------- */
.mod-text--01 {
	text-indent: 1em;
	margin-top: 25px;
}

.mod-text--container-01 h2 {
	font-size: 2.8rem;
	font-weight: bold;
	line-height: 1.5;
	margin-top: 75px;
}

:root .mod-text--container-01 h2+* {
	margin-top: 15px;
}

:root .mod-text--container-01 h2+h3 {
	margin-top: 25px;
}

:root .mod-text--container-01 h2+.mod-text--container-01> :first-child {
	margin-top: 15px;
}

.mod-text--container-01 h3 {
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.5;
	margin-top: 40px;
	padding-bottom: 8px;
	border-bottom: 1px solid #ccc;
}

:root .mod-text--container-01 h3+* {
	margin-top: 15px;
}

:root .mod-text--container-01 h3+h4 {
	margin-top: 25px;
}

:root .mod-text--container-01 h3+.mod-text--container-01> :first-child {
	margin-top: 15px;
}

.mod-text--container-01 h4 {
	font-size: 1.7rem;
	font-weight: bold;
	line-height: 1.5;
	margin-top: 30px;
	padding-left: 9px;
	border-left: 5px solid #6d242e;
}

:root .mod-text--container-01 h4+* {
	margin-top: 15px;
}

:root .mod-text--container-01 h4+.mod-text--container-01> :first-child {
	margin-top: 15px;
}

.mod-text--container-01 p {
	text-indent: 1em;
	margin-top: 25px;
}

.mod-text--container-01 blockquote> :first-child {
	margin-top: 0 !important;
}

.mod-text--container-01 ul {
	margin-top: 25px;
}

.mod-text--container-01 ul>li {
	position: relative;
	padding-left: 24px;
}

.mod-text--container-01 ul>li::before {
	background-color: #556;
	position: absolute;
	top: 5px;
	left: 0;
	display: block;
	width: 6px;
	height: 6px;
	content: "";
	border-radius: 50%;
}

.mod-text--container-01 ul>li ul,
.mod-text--container-01 ul>li ol {
	margin-top: 5px;
}

.mod-text--container-01 ul>li p {
	text-indent: inherit;
}

.mod-text--container-01 ol {
	margin-top: 25px;
	counter-reset: num;
}

.mod-text--container-01 ol>li {
	position: relative;
	padding-left: 31px;
	counter-increment: num;
}

.mod-text--container-01 ol>li::before {
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
	content: counter(num) ".";
}

.mod-text--container-01 ol>li>ul,
.mod-text--container-01 ol>li>ol {
	margin-top: 5px;
}

.mod-text--container-01 ol>li p {
	text-indent: inherit;
}

.mod-text--container-01.var-01 p {
	margin-top: 10px;
}

.mod-text--container-01.of-right {
	text-align: right;
}

.mod-text--container-01.of-right .mod-text--01 {
	text-indent: 0;
}

.mod-text--container-01.of-center {
	text-align: center;
}

.mod-text--container-01.of-center .mod-text--01 {
	text-indent: 0;
}

.mod-text--small-01 {
	font-size: 1.2rem;
	line-height: 1.75;
	color: #666;
	margin-top: 10px;
}

/* -------------------------------------------------------
common.css 2718
link

------------------------------------------------------- */
.mod-link--01 {
	line-height: 1.5;
	text-decoration: none;
	color: #222;
	position: relative;
	display: inline-block;
	padding-left: 24px;
}

.mod-link--01:hover .text,
.mod-link--01:active .text,
.mod-link--01:focus .text {
	text-decoration: underline;
}

.mod-link--01:hover .file,
.mod-link--01:active .file,
.mod-link--01:focus .file {
	text-decoration: underline;
}

.mod-link--01::before {
	position: absolute;
	top: 7px;
	left: -3px;
	width: 9.5px;
	height: 9.5px;
	content: "";
	transform: rotate(45deg);
	border: solid #6d242e;
	border-width: 3px 3px 0 0;
	border-radius: 1px;
}

.mod-link--01 .text {
	color: #006fa3;
}

.mod-link--01 .file {
	font-size: 1.4rem;
	color: #006fa3;
}

.mod-link--01 .detail {
	font-size: 1.4rem;
	line-height: 1.5;
	text-decoration: none;
	display: block;
	margin-top: 5px;
}

.mod-link--01.of-block {
	display: block;
}

.mod-link--01.of-anc::before {
	left: 0;
	transform: rotate(135deg);
}

.mod-link--01.var-01 .text {
	color: #222;
}

.mod-link--container-01 {
	line-height: 1.5;
	margin-top: 25px;
}

.mod-link--container-01.ta-r button {
	text-align: right;
}

.mod-link--container-01.ta-c button {
	text-align: center;
}

.mod-link--list-01 {
	margin-top: 25px;
}

.mod-link--list-01>li {
	line-height: 1.5;
}

.mod-link--list-01>li>.mod-link--list-01 {
	margin-top: 10px;
	padding-left: 24px;
	border-bottom: none;
}

.mod-link--list-01>li>.mod-link--list-01>li .mod-link--01::before {
	background-color: #6d242e;
	position: absolute;
	top: 10px;
	left: 0;
	display: block;
	width: 6px;
	height: 6px;
	content: "";
	border: none;
	border-radius: 50%;
}

.mod-link--list-01>li+li {
	margin-top: 10px;
}

.mod-link--list-02 {
	display: flex;
	flex-wrap: wrap;
	margin-top: 90px;
}

.mod-link--list-02>li {
	line-height: 1.5;
	margin-left: 40px;
}

.mod-link--list-02>li .mod-link--01 {
	width: 100%;
	height: 100%;
	padding-left: 0;
}

.mod-link--list-02>li .mod-link--01:hover .detail,
.mod-link--list-02>li .mod-link--01:active .detail,
.mod-link--list-02>li .mod-link--01:focus .detail {
	text-decoration: underline;
}

.mod-link--list-02>li .mod-link--01 .text {
	font-weight: bold;
	display: block;
	padding-left: 24px;
}

.mod-link--list-02>li .mod-link--01 .detail {
	font-size: 1.5rem;
	line-height: 1.8;
	margin-top: 10px;
}

.mod-link--list-02.col-2>li {
	width: calc(50% - 20px);
}

.mod-link--list-02.col-2>li:nth-of-type(2n-1) {
	margin-left: 0;
}

.mod-link--list-02.col-2>li:nth-of-type(n+3) {
	margin-top: 45px;
}

.mod-link--list-02.col-3>li {
	width: calc((100% - 80px) / 3);
}

.mod-link--list-02.col-3>li:nth-of-type(3n-2) {
	margin-left: 0;
}

.mod-link--list-02.col-3>li:nth-of-type(n+4) {
	margin-top: 45px;
}

.mod-link--list-02.col-4>li {
	width: calc((100% - 120px) / 4);
}

.mod-link--list-02.col-4>li:nth-of-type(4n-3) {
	margin-left: 0;
}

.mod-link--list-02.col-4>li:nth-of-type(n+5) {
	margin-top: 45px;
}

.mod-link--list-03 {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}

.mod-link--list-03>li {
	min-height: 66px;
	margin-left: 24px;
	border-bottom: 1px solid #ccc;
}

.mod-link--list-03>li a {
	line-height: 1.3;
	text-decoration: none;
	color: #222;
	background-color: #fff;
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 10px 40px 10px 0;
	transition: background-color .4s;
	will-change: background-color;
}

.mod-link--list-03>li a:hover,
.mod-link--list-03>li a:active,
.mod-link--list-03>li a:focus {
	background-color: #f8f8f8;
}

.mod-link--list-03>li a::before {
	position: absolute;
	top: calc(50% - 6px);
	right: 10px;
	width: 9.5px;
	height: 9.5px;
	content: "";
	transform: rotate(45deg);
	border: solid #6d242e;
	border-width: 3px 3px 0 0;
	border-radius: 1px;
}

.mod-link--list-03.col-2>li {
	width: calc(50% - 12px);
}

.mod-link--list-03.col-2>li:nth-of-type(-n+2) {
	border-top: 1px solid #ccc;
}

.mod-link--list-03.col-2>li:nth-of-type(2n-1) {
	margin-left: 0;
}

.mod-link--list-03.col-3>li {
	width: calc((100% - 48px) / 3);
}

.mod-link--list-03.col-3>li:nth-of-type(-n+3) {
	border-top: 1px solid #ccc;
}

.mod-link--list-03.col-3>li:nth-of-type(3n-2) {
	margin-left: 0;
}

.mod-link--list-03.col-4>li {
	width: calc((100% - 72px) / 4);
}

.mod-link--list-03.col-4>li:nth-of-type(-n+4) {
	border-top: 1px solid #ccc;
}

.mod-link--list-03.col-4>li:nth-of-type(4n-3) {
	margin-left: 0;
}

/* -------------------------------------------------------
common.css 3050
box
------------------------------------------------------- */
.mod-box--01 {
	margin-top: 30px;
	padding: 25px;
	border: 1px solid #ccc;
}

.mod-box--01.var-01 {
	background-color: #f8f8f8;
}

.mod-box--01.var-02 {
	background-color: #f2eced;
}

.mod-box--01.var-03 {
	background-color: #f8f8f8;
	border: 0;
}

.mod-box--01.var-04 {
	background-color: #f2eced;
	border: 0;
}

.mod-box--01+.mod-box--01 {
	margin-top: 20px;
}

.mod-box--01> :first-child {
	margin-top: 0 !important;
}

.mod-box--contact-01 {
	background-color: #f8f8f8;
	display: flex;
	align-items: center;
	margin-top: 40px;
	padding: 25px;
}

.mod-box--contact-01>.title-area {
	flex-shrink: 0;
	padding: 0 60px 0 35px;
}

.mod-box--contact-01>.title-area .title {
	font-weight: bold;
	line-height: 1.5;
	text-align: center;
}

.mod-box--contact-01>.detail-area {
	padding: 0 35px 0 60px;
	border-left: 1px solid #ccc;
}

.mod-box--contact-01>.detail-area>.contact-list>div>dt {
	line-height: 1.5;
}

.mod-box--contact-01>.detail-area>.contact-list>div>dt+dd {
	margin-top: 10px;
}

.mod-box--contact-01>.detail-area>.contact-list>div>dd {
	line-height: 1.5;
	position: relative;
}

.mod-box--contact-01>.detail-area>.contact-list>div>dd a {
	display: inline-block;
}

.mod-box--contact-01>.detail-area>.contact-list>div>dd.link a {
	text-decoration: none;
}

.mod-box--contact-01>.detail-area>.contact-list>div>dd.link a:hover,
.mod-box--contact-01>.detail-area>.contact-list>div>dd.link a:active,
.mod-box--contact-01>.detail-area>.contact-list>div>dd.link a:focus {
	text-decoration: underline;
}

.mod-box--contact-01>.detail-area>.contact-list>div>dd.link .tel {
	font-size: 1.8rem;
	font-weight: bold;
	position: relative;
	padding-left: 25px;
}

.mod-box--contact-01>.detail-area>.contact-list>div>dd.link .tel::before {
	font-family: "Font Awesome 5 Free", sans-serif;
	font-size: 1.4rem;
	font-weight: 900;
	color: #556;
	position: absolute;
	top: 3px;
	left: 0;
	content: "\f095";
}

.mod-box--contact-01>.detail-area>.contact-list>div>dd.link .tel .sub {
	font-size: 1.7rem;
	font-weight: normal;
}

.mod-box--contact-01>.detail-area>.contact-list>div>dd.link .mail {
	padding-left: 25px;
}

.mod-box--contact-01>.detail-area>.contact-list>div>dd.link .mail::before {
	font-family: "Font Awesome 5 Free", sans-serif;
	font-size: 1.4rem;
	font-weight: 900;
	color: #556;
	position: absolute;
	top: 4px;
	left: 0;
	content: "\f0e0";
}

.mod-box--contact-01>.detail-area>.contact-list>div>dd.small {
	font-size: 1.4rem;
}

.mod-box--contact-01>.detail-area>.contact-list>div>dd+.link {
	margin-top: 5px;
}

.mod-box--contact-01>.detail-area>.contact-list>div>dd+.text {
	margin-top: 10px;
}

.mod-box--contact-01>.detail-area>.contact-list>div>dd+.small {
	margin-top: 8px;
}

.mod-box--contact-01>.detail-area>.contact-list>div+div {
	margin-top: 50px;
}

.mod-box--contact-01> :first-child {
	margin-top: 0 !important;
}

/* -------------------------------------------------------
common.css 3356
layout
------------------------------------------------------- */
[class^="mod-layout--section-"]>[class^="mod-text--container-"]:first-child> :first-child {
	margin-top: 0 !important;
}

[class^="mod-layout--section-"]>[class^="mod-text--container-"]:first-child [class^="mod-box--"]:first-child {
	margin-top: 0;
}

:root [class^="mod-layout--section-"]+* {
	margin-top: 15px;
}

:root [class^="mod-layout--section-"]+[class^="mod-layout--section-"] {
	margin-top: 0;
}

.mod-layout--section-01 {
	padding: 80px 0;
}

.mod-layout--section-01> :first-child {
	margin-top: 0 !important;
}

.mod-layout--section-01+.mod-layout--section-01 {
	padding-top: 0;
}

.mod-layout--section-02 {
	background-color: #f8f8f8;
	position: relative;
	padding: 80px 0;
}

.mod-layout--section-02::before {
	background-color: #f8f8f8;
	background-size: cover;
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: calc(50% - 50vw);
	width: 100vw;
	content: "";
}

.mod-layout--section-02.var-01 {
	background-color: #f2eced;
}

.mod-layout--section-02.var-01::before {
	background-color: #f2eced;
}

.mod-layout--section-02 .index-media--img-layout-01>.content-area {
	background-color: #fff;
}

.mod-layout--section-02> :first-child {
	margin-top: 0 !important;
}

.mod-layout--01 {
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
}

.mod-layout--01>.col .mod-hdg--lv3-01.of-link a {
	min-width: 100%;
}

.mod-layout--01.col-2>.col {
	width: calc(50% - 20px);
}

.mod-layout--01.col-2>.col:nth-of-type(2n) {
	margin-left: 40px;
}

.mod-layout--01.col-2>.col:nth-of-type(n+3) {
	margin-top: 40px;
}

.mod-layout--01.col-2>.col>[class^="mod-text--container-"]:first-child> :first-child {
	margin-top: 0 !important;
}

.mod-layout--01.col-2>.col>[class^="mod-text--container-"]:first-child [class^="mod-box--"]:first-child {
	margin-top: 0;
}

.mod-layout--01.col-2>.col .mod-link--list-01>li .mod-link--01 {
	display: block;
}

.mod-layout--01.col-2>.col> :first-child {
	margin-top: 0 !important;
}

/* -------------------------------------------------------
media
------------------------------------------------------- */
.mod-media--img-01 {
	text-align: center;
	width: 100%;
	margin: 45px auto 0;
}

.mod-media--img-01>.img {
	display: inline-block;
}

.mod-media--img-01>.img img {
	transition: opacity .4s;
	will-change: opacity;
}

.mod-media--img-01>.img .caption {
	font-size: 1.4rem;
	line-height: 1.5;
	text-align: left;
	color: #666;
	display: block;
	margin-top: 10px;
}

.mod-media--img-01>.img a {
	display: inline-block;
}

.mod-media--img-01>.img a:hover,
.mod-media--img-01>.img a:active,
.mod-media--img-01>.img a:focus {
	background-color: transparent;
}

.mod-media--img-01>.img a:hover img,
.mod-media--img-01>.img a:active img,
.mod-media--img-01>.img a:focus img {
	opacity: .6;
}

.mod-media--img-01>.img a .caption {
	color: #006fa3;
}

.mod-media--img-01.of-w-800 {
	max-width: 800px;
}

.mod-media--img-02 {
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.mod-media--img-02>.wrap .img {
	background-color: #fff;
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	padding-top: 56.25%;
}

.mod-media--img-02>.wrap .img img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: inline-block;
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	margin: auto;
	transition: opacity .4s;
	will-change: opacity;
}

.mod-media--img-02>.wrap .caption {
	font-size: 1.4rem;
	line-height: 1.5;
	text-align: left;
	color: #666;
	display: block;
	margin-top: 10px;
}

.mod-media--img-02>.wrap a:hover,
.mod-media--img-02>.wrap a:active,
.mod-media--img-02>.wrap a:focus {
	background-color: #f8f8f8;
}

.mod-media--img-02>.wrap a:hover .img img,
.mod-media--img-02>.wrap a:active .img img,
.mod-media--img-02>.wrap a:focus .img img {
	opacity: .6;
}

.mod-media--img-02>.wrap a .caption {
	color: #006fa3;
}

.mod-media--img-02.of-w-800 {
	max-width: 800px;
}

.mod-media--img-list-01 {
	display: flex;
	flex-wrap: wrap;
	margin: 45px auto 0;
}

.mod-media--img-list-01>li> :first-child {
	margin-top: 0 !important;
}

.mod-media--img-list-01.col-2>li {
	width: calc(50% - 10px);
}

.mod-media--img-list-01.col-2>li:nth-of-type(2n) {
	margin-left: 20px;
}

.mod-media--img-list-01.col-2>li:nth-of-type(n+3) {
	margin-top: 45px;
}

.mod-media--img-list-01.col-3>li {
	width: calc((100% - 38px) / 3);
	margin-left: 19px;
}

.mod-media--img-list-01.col-3>li:nth-of-type(3n-2) {
	margin-left: 0;
}

.mod-media--img-list-01.col-3>li:nth-of-type(n+4) {
	margin-top: 45px;
}

.mod-media--img-list-02 {
	display: flex;
	flex-wrap: wrap;
	margin: 80px auto 0;
}

.mod-media--img-list-02>li {
	margin-left: 10px;
}

.mod-media--img-list-02>li a:hover .img img,
.mod-media--img-list-02>li a:active .img img,
.mod-media--img-list-02>li a:focus .img img {
	opacity: .6;
}

.mod-media--img-list-02>li a .img {
	background-color: #fff;
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	padding-top: 52.35602%;
}

.mod-media--img-list-02>li a .img img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: inline-block;
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	margin: auto;
	transition: opacity .4s;
	will-change: opacity;
}

.mod-media--img-list-02.col-4>li {
	width: calc((100% - 30px) / 4);
}

.mod-media--img-list-02.col-4>li:nth-of-type(4n-3) {
	margin-left: 0;
}

.mod-media--img-list-02.col-4>li:nth-of-type(n+5) {
	margin-top: 10px;
}

.mod-media--img-list-02.col-5>li {
	width: calc((100% - 40px) / 5);
}

.mod-media--img-list-02.col-5>li:nth-of-type(5n-4) {
	margin-left: 0;
}

.mod-media--img-list-02.col-5>li:nth-of-type(n+6) {
	margin-top: 10px;
}

.mod-media--img-layout-01 {
	display: flex;
	margin-top: 45px;
}

.mod-media--img-layout-01>.content-area p {
	text-indent: 1em;
	margin-top: 25px;
}

.mod-media--img-layout-01>.content-area ul {
	margin-top: 25px;
}

.mod-media--img-layout-01>.content-area ul>li {
	position: relative;
	padding-left: 24px;
}

.mod-media--img-layout-01>.content-area ul>li::before {
	background-color: #556;
	position: absolute;
	top: 14px;
	left: 0;
	display: block;
	width: 6px;
	height: 6px;
	content: "";
	border-radius: 50%;
}

.mod-media--img-layout-01>.content-area ul>li ul,
.mod-media--img-layout-01>.content-area ul>li ol {
	margin-top: 5px;
}

.mod-media--img-layout-01>.content-area ul>li p {
	text-indent: inherit;
}

.mod-media--img-layout-01>.content-area ul.mod-link--list-03>li {
	padding-left: 0;
}

.mod-media--img-layout-01>.content-area ul.mod-link--list-03>li::before {
	display: none;
}

.mod-media--img-layout-01>.content-area ol {
	margin-top: 25px;
	counter-reset: num;
}

.mod-media--img-layout-01>.content-area ol>li {
	position: relative;
	padding-left: 31px;
	counter-increment: num;
}

.mod-media--img-layout-01>.content-area ol>li::before {
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
	content: counter(num) ".";
}

.mod-media--img-layout-01>.content-area ol>li>ul,
.mod-media--img-layout-01>.content-area ol>li>ol {
	margin-top: 5px;
}

.mod-media--img-layout-01>.content-area ol>li p {
	text-indent: inherit;
}

.mod-media--img-layout-01>.content-area> :first-child {
	margin-top: 0 !important;
}

.mod-media--img-layout-01>.img-area {
	flex-shrink: 0;
	max-width: 410px;
}

.mod-media--img-layout-01>.img-area>.img {
	max-width: 410px;
}

.mod-media--img-layout-01>.img-area>.img img {
	display: inline-block;
}

.mod-media--img-layout-01>.img-area>.img .caption {
	font-size: 1.4rem;
	line-height: 1.5;
	color: #666;
	display: block;
	margin-top: 10px;
}

.mod-media--img-layout-01>.img-area>.img a:hover,
.mod-media--img-layout-01>.img-area>.img a:active,
.mod-media--img-layout-01>.img-area>.img a:focus {
	background-color: #f8f8f8;
}

.mod-media--img-layout-01>.img-area>.img a .caption {
	color: #006fa3;
}

.mod-media--img-layout-01>.img-area> :first-child {
	margin-top: 0 !important;
}

.mod-media--img-layout-01.of-left>.content-area {
	order: 2;
	padding-left: 25px;
}

.mod-media--img-layout-01.of-left>.img-area {
	order: 1;
}

.mod-media--img-layout-01.of-right>.content-area {
	padding-right: 25px;
}

.mod-media--img-layout-01.var-01 {
	margin-top: 90px;
}

.mod-media--img-layout-01.var-01>.content-area {
	flex: 1 1 50%;
	padding-left: 40px;
}

.mod-media--img-layout-01.var-01>.img-area {
	flex: 1 1 50%;
	max-width: 620px;
}

.mod-media--img-layout-01.var-01>.img-area>.img {
	max-width: 620px;
}

.mod-media--youtube-01 {
	width: 100%;
	margin: 45px auto 0;
}

.mod-media--youtube-01>.wrap {
	position: relative;
	width: 100%;
}

.mod-media--youtube-01>.wrap::before {
	display: inline-block;
	padding-top: 56.25%;
	content: "";
}

.mod-media--youtube-01>.wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.mod-media--youtube-01>.caption {
	font-size: 1.4rem;
	line-height: 1.5;
	color: #666;
	display: block;
	margin-top: 10px;
}

.mod-media--youtube-01.of-w-560 {
	max-width: 560px;
}

.mod-media--youtube-01.of-w-560 .wrap {
	width: 100%;
	max-height: 315px;
}

.mod-media--vimeo-01 {
	width: 100%;
	margin: 45px auto 0;
}

.mod-media--vimeo-01>.wrap {
	position: relative;
	width: 100%;
}

.mod-media--vimeo-01>.wrap::before {
	display: inline-block;
	padding-top: 56.25%;
	content: "";
}

.mod-media--vimeo-01>.wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.mod-media--vimeo-01>.caption {
	font-size: 1.4rem;
	line-height: 1.5;
	color: #666;
	display: block;
	margin-top: 10px;
}

.mod-media--vimeo-01.of-w-560 {
	max-width: 560px;
}

.mod-media--vimeo-01.of-w-560 .wrap {
	width: 100%;
	max-height: 315px;
}

.mod-media--sns-container-01 {
	margin-top: 45px;
	border-top: 1px solid #ccc;
}

.mod-media--sns-list-01 {
	margin-top: 25px;
}

.mod-media--sns-list-01>div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mod-media--sns-list-01>div>dt>.text {
	color: #666;
	position: relative;
	display: inline-block;
	padding-left: 22px;
}

.mod-media--sns-list-01>div>dt>.text::after {
	font-family: "Font Awesome 5 Free", sans-serif;
	font-size: 1.4rem;
	font-weight: 900;
	color: #556;
	position: absolute;
	top: 3px;
	left: 0;
	content: "\f064";
}

.mod-media--sns-list-01>div>dd {
	margin-left: 15px;
}

/* -------------------------------------------------------
common.css 5891
icon
------------------------------------------------------- */
.icon-blank-01 {
	vertical-align: middle;
	position: relative;
	top: -2px;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 5px 0 7px;

	fill: #556;
}

.icon-pdf-01 {
	vertical-align: middle;
	position: relative;
	top: -2px;
	display: inline-block;
	width: 13px;
	height: 17px;
	margin: 0 5px 0 7px;

	fill: #e6002a;
}

.icon-download-01 {
	vertical-align: middle;
	position: relative;
	top: -2px;
	display: inline-block;
	width: 13px;
	height: 17px;
	margin: 0 5px 0 7px;

	fill: #556;
}

/* common.css 6788 */
@media only screen and (max-width: 767px) {
	body {
		font-size: 1.6rem;
		line-height: 1.875;
	}

	blockquote {
		margin-top: 20px;
		padding: 20px;
	}

	blockquote blockquote {
		margin-top: 20px;
	}

	blockquote> :first-child {
		margin-top: 0 !important;
	}

	/* SP画面時にグローバルメニューエリアを隠す */
	.header-content--02 {
		display: none;
	}

	/* SP画面時にグローバルメニューエリアを隠す END */

	.str-container.col-1 .str-content-main>.str-inner {
		padding: 25px 0 40px;
	}

	.str-container.col-1 .str-content-main>.str-inner> :first-child {
		margin-top: 0 !important;
	}

	.str-container.col-2 .str-content-main>.str-inner {
		padding: 25px 0 40px;
	}

	.str-container.col-2 .str-content-main>.str-inner> :first-child {
		margin-top: 0 !important;
	}

	.str-container.col-2 .str-content-side>.str-inner> :first-child {
		margin-top: 0 !important;
	}

	#site-footer .footer-wrap .footer-content--01 .layout-wrap>.col> :first-child {
		margin-top: 0 !important;
	}

	#site-footer .footer-wrap .footer-content--03 .layout-wrap>.col> :first-child {
		margin-top: 0 !important;
	}

	#site-footer .footer-wrap> :first-child {
		margin-top: 0 !important;
	}

	.nav-breadcrumb .wrap {
		white-space: nowrap;
		background: linear-gradient(to right, #fff 30%, rgba(255, 255, 255, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), #fff 70%) 0 100%, radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
		background-color: #fff;
		background-repeat: no-repeat;
		background-attachment: local, local, scroll, scroll;
		background-position: 0 0, 100%, 0 0, 100%;
		background-size: 40px 100%, 40px 100%, 30px 100%, 30px 100%;
		overflow-x: auto;
		margin-top: 8px;
	}

	.nav-breadcrumb .wrap>ol {
		flex-wrap: nowrap;
	}

	.nav-breadcrumb .wrap>ol>li {
		overflow: hidden;
	}

	.nav-breadcrumb .wrap>ol>li a {
		padding: 14px 0;
	}

	.nav-breadcrumb .wrap>ol>li:last-of-type {
		padding-right: 15px;
	}

	.mod-hdg--lv1-01 {
		min-height: 106px;
	}

	.mod-hdg--lv1-01>.wrap .hdg {
		font-size: 2rem;
		line-height: 1.4;
		margin-top: 5px;
	}

	.mod-hdg--lv1-01>.wrap .sub-area .category {
		margin-left: 10px;
	}

	.mod-hdg--lv1-01>.wrap .sub-area+.hdg {
		margin-bottom: 10px;
	}

	.mod-hdg--lv1-01>.wrap> :first-child {
		margin-top: 0 !important;
	}

	.mod-hdg--lv1-02 {
		min-height: 106px;
	}

	.mod-hdg--lv1-02>.wrap .hdg {
		font-size: 2rem;
		line-height: 1.4;
		margin-top: 5px;
	}

	.mod-hdg--lv1-02>.wrap .sub-area .category {
		margin-left: 10px;
	}

	.mod-hdg--lv1-02>.wrap .sub-area+.hdg {
		margin-bottom: 10px;
	}

	.mod-hdg--lv1-02>.wrap> :first-child {
		margin-top: 0 !important;
	}

	.mod-hdg--lv2-01 {
		font-size: 2rem;
		margin-top: 60px;
	}

	:root .mod-hdg--lv2-01+* {
		margin-top: 20px;
	}

	:root .mod-hdg--lv2-01+.mod-hdg--lv3-01 {
		margin-top: 20px;
	}

	:root .mod-hdg--lv2-01+.mod-text--container-01> :first-child {
		margin-top: 20px;
	}

	:root .mod-hdg--lv2-01+.mod-link--list-02 {
		margin-top: 20px;
	}

	.mod-hdg--lv2-01.of-link a {
		display: block;
		min-width: 100%;
		padding: 9px 0;
	}

	.mod-hdg--lv2-02 {
		margin-top: 60px;
	}

	.mod-hdg--lv2-02 a {
		font-size: 2rem;
		display: block;
		padding: 9px 20px 9px 0;
	}

	.mod-hdg--lv2-02 a::before {
		top: calc(50% - 5px);
		right: 5px;
		left: auto;
		width: 9.5px;
		height: 9.5px;
	}

	.mod-hdg--lv2-02+.mod-hdg--lv2-02 {
		margin-top: 40px;
	}

	.mod-hdg--lv3-01 {
		font-size: 1.8rem;
		line-height: 1.4;
		margin-top: 30px;
	}

	:root .mod-hdg--lv3-01+* {
		margin-top: 10px;
	}

	:root .mod-hdg--lv3-01+.mod-hdg--lv4-01 {
		margin-top: 20px;
	}

	:root .mod-hdg--lv3-01+.mod-text--container-01> :first-child {
		margin-top: 10px;
	}

	.mod-hdg--lv3-01.of-link a {
		display: block;
		min-width: 100%;
		padding: 12px 0 11px;
	}

	.mod-hdg--lv4-01 {
		line-height: 1.41176;
		margin-top: 25px;
	}

	:root .mod-hdg--lv4-01+* {
		margin-top: 10px;
	}

	:root .mod-hdg--lv4-01+.mod-text--container-01> :first-child {
		margin-top: 10px;
	}

	.mod-hdg--default-01 {
		margin-top: 20px;
	}

	.mod-hdg--table-01 {
		margin-top: 20px;
	}

	.mod-text--01 {
		margin-top: 20px;
	}

	.mod-text--container-01 h2 {
		font-size: 2rem;
		margin-top: 60px;
	}

	:root .mod-text--container-01 h2+* {
		margin-top: 20px;
	}

	:root .mod-text--container-01 h2+h3 {
		margin-top: 20px;
	}

	:root .mod-text--container-01 h2+.mod-text--container-01> :first-child {
		margin-top: 20px;
	}

	.mod-text--container-01 h3 {
		font-size: 1.8rem;
		line-height: 1.4;
		margin-top: 30px;
	}

	:root .mod-text--container-01 h3+* {
		margin-top: 10px;
	}

	:root .mod-text--container-01 h3+h4 {
		margin-top: 20px;
	}

	:root .mod-text--container-01 h3+.mod-text--container-01> :first-child {
		margin-top: 10px;
	}

	.mod-text--container-01 h4 {
		line-height: 1.41176;
		margin-top: 25px;
	}

	:root .mod-text--container-01 h4+* {
		margin-top: 10px;
	}

	:root .mod-text--container-01 h4+.mod-text--container-01> :first-child {
		margin-top: 10px;
	}

	.mod-text--container-01 p {
		margin-top: 20px;
	}

	.mod-text--container-01 blockquote> :first-child {
		margin-top: 0 !important;
	}

	.mod-text--container-01 a {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.mod-text--container-01 ul {
		margin-top: 20px;
	}

	.mod-text--container-01 ul>li {
		line-height: 1.8;
		padding-left: 20px;
	}

	.mod-text--container-01 ul>li::before {
		top: 10px;
	}

	.mod-text--container-01 ul>li+li {
		margin-top: 5px;
	}

	.mod-text--container-01 ol {
		margin-top: 20px;
	}

	.mod-text--container-01 ol>li {
		line-height: 1.8;
		padding-left: 28px;
	}

	.mod-text--container-01 ol>li+li {
		margin-top: 5px;
	}

	.mod-text--container-01.var-01 p {
		margin-top: 10px;
	}

	.mod-list--01 {
		margin-top: 20px;
	}

	.mod-list--01>li {
		line-height: 1.8;
		padding-left: 20px;
	}

	.mod-list--01>li::before {
		top: 10px;
	}

	.mod-list--01>li a {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.mod-list--01>li>[class^="mod-list--note"] {
		margin-top: 5px;
	}

	.mod-list--01>li+li {
		margin-top: 5px;
	}

	.mod-list--num-01 {
		margin-top: 20px;
	}

	.mod-list--num-01>li {
		line-height: 1.8;
		padding-left: 28px;
	}

	.mod-list--num-01>li a {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.mod-list--num-01>li>[class^="mod-list--note"] {
		margin-top: 5px;
	}

	.mod-list--num-01>li+li {
		margin-top: 5px;
	}

	.mod-list--note-01 {
		margin-top: 20px;
	}

	.mod-list--note-01>li+li {
		margin-top: 10px;
	}

	.mod-list--define-01 {
		margin-top: 20px;
	}

	.mod-list--define-01>div>dt a {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.mod-list--define-01>div>dt+dd a {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.mod-list--define-01>div+div {
		margin-top: 10px;
	}

	.mod-list--define-02 {
		margin-top: 20px;
	}

	.mod-list--define-02>div {
		flex-wrap: wrap;
	}

	.mod-list--define-02>div>dt {
		width: 100%;
	}

	.mod-list--define-02>div>dt a {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.mod-list--define-02>div>dd {
		width: 100%;
		margin-top: 5px;
		padding-left: 0;
	}

	.mod-list--define-02>div>dd a {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.mod-list--define-02>div+div {
		margin-top: 10px;
	}

	.mod-list--news-01 {
		margin-top: 20px;
	}

	.mod-list--news-01>li .wrap {
		display: block;
		padding: 20px 40px 20px 5px;
	}

	.mod-list--news-01>li .wrap .date-area {
		width: 100%;
	}

	.mod-list--news-01>li .wrap .date-area .date {
		padding-top: 0;
	}

	.mod-list--news-01>li .wrap .detail-area {
		width: 100%;
		padding-top: 10px;
	}

	.mod-list--news-01>li .wrap .detail-area .title {
		line-height: 1.8;
	}

	.mod-list--news-01>li a.wrap::before {
		position: absolute;
		top: calc(50% - 8px);
		right: 10px;
		width: 9.5px;
		height: 9.5px;
		content: "";
		transform: rotate(45deg);
		border: solid #6d242e;
		border-width: 3px 3px 0 0;
		border-radius: 1px 1px 1px 0;
	}

	.mod-link--01 {
		display: block;
		width: 100%;
		padding: 12px 40px 12px 0;
	}

	.mod-link--01::before {
		top: calc(50% - 5px);
		right: 5px;
		left: auto;
	}

	.mod-link--01.of-anc::before {
		top: calc(50% - 6px);
		right: 5px;
		left: auto;
	}

	.mod-link--02 {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.mod-link--container-01 {
		margin-top: 20px;
	}

	.mod-link--list-01 {
		margin-top: 20px;
		border-top: solid 1px #ccc;
		border-bottom: solid 1px #ccc;
	}

	.mod-link--list-01>li>.mod-link--list-01 {
		margin-top: 0;
	}

	.mod-link--list-01>li>.mod-link--list-01>li .mod-link--01::before {
		background-color: transparent;
		position: absolute;
		top: calc(50% - 5px);
		right: 5px;
		left: auto;
		width: 9.5px;
		height: 9.5px;
		transform: rotate(45deg);
		border: solid #6d242e;
		border-width: 3px 3px 0 0;
		border-radius: 1px;
	}

	.mod-link--list-01>li+li {
		margin-top: 0;
		border-top: solid 1px #ccc;
	}

	.mod-link--list-02 {
		margin-top: 40px;
		border-top: solid 1px #ccc;
		border-bottom: solid 1px #ccc;
	}

	.mod-link--list-02>li {
		margin-left: 0;
	}

	.mod-link--list-02>li .mod-link--01 .text {
		padding-left: 0;
	}

	.mod-link--list-02>li .mod-link--01 .detail {
		font-size: 1.4rem;
		line-height: 1.5;
		margin-top: 5px;
	}

	.mod-link--list-02>li+li {
		border-top: solid 1px #ccc;
	}

	.mod-link--list-02.col-2>li {
		width: 100%;
	}

	.mod-link--list-02.col-2>li:nth-of-type(n+3) {
		margin-top: 0;
	}

	.mod-link--list-02.col-3>li {
		width: 100%;
	}

	.mod-link--list-02.col-3>li:nth-of-type(n+4) {
		margin-top: 0;
	}

	.mod-link--list-02.col-4>li {
		width: 100%;
	}

	.mod-link--list-02.col-4>li:nth-of-type(n+5) {
		margin-top: 0;
	}

	.mod-link--list-03 {
		margin-top: 20px;
	}

	.mod-link--list-03>li {
		min-height: 63px;
		margin-left: 0;
	}

	.mod-link--list-03>li a {
		padding-right: 30px;
	}

	.mod-link--list-03.col-2>li {
		width: 100%;
	}

	.mod-link--list-03.col-2>li:nth-of-type(-n+2) {
		border-top: 0;
	}

	.mod-link--list-03.col-2>li:first-of-type {
		border-top: 1px solid #ccc;
	}

	.mod-link--list-03.col-3>li {
		width: 100%;
	}

	.mod-link--list-03.col-3>li:nth-of-type(-n+3) {
		border-top: 0;
	}

	.mod-link--list-03.col-3>li:first-of-type {
		border-top: 1px solid #ccc;
	}

	.mod-link--list-03.col-4>li {
		width: 100%;
	}

	.mod-link--list-03.col-4>li:nth-of-type(-n+4) {
		border-top: 0;
	}

	.mod-link--list-03.col-4>li:first-of-type {
		border-top: 1px solid #ccc;
	}

	.mod-btn--01 {
		padding: 13px 40px 13px 22px;
	}

	.mod-btn--01::before {
		right: 18px;
	}

	.mod-btn--01.of-anc::before {
		top: calc(50% - 7px);
		right: 16px;
	}

	.mod-btn--container-01 {
		margin-top: 15px;
	}

	.mod-btn--list-01 {
		margin-top: 15px;
	}

	.mod-btn--list-01>li+li {
		margin-top: 10px;
	}

	.mod-btn--list-02 {
		max-width: 400px;
		margin-top: 15px;
	}

	.mod-btn--list-02>li {
		width: 100%;
		margin-left: 0;
	}

	.mod-btn--list-02>li:nth-of-type(n+3) {
		margin-top: 10px;
	}

	.mod-btn--list-02>li+li {
		margin-top: 10px;
	}

	.mod-box--01 {
		margin-top: 20px;
		padding: 20px;
	}

	.mod-box--01+.mod-box--01 {
		margin-top: 10px;
	}

	.mod-box--01> :first-child {
		margin-top: 0 !important;
	}

	.mod-box--contact-01 {
		flex-wrap: wrap;
		margin-top: 30px;
		padding: 20px;
	}

	.mod-box--contact-01>.title-area {
		width: 100%;
		padding: 0 0 3px 0;
	}

	.mod-box--contact-01>.title-area .title {
		text-align: left;
	}

	.mod-box--contact-01>.detail-area {
		width: 100%;
		padding: 20px 0 0;
		border-top: 1px solid #ccc;
		border-left: 0;
	}

	.mod-box--contact-01>.detail-area>.contact-list>div>dt+dd {
		margin-top: 10px;
	}

	.mod-box--contact-01>.detail-area>.contact-list>div>dd a {
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.mod-box--contact-01>.detail-area>.contact-list>div>dd.link .tel {
		line-height: 1.5;
	}

	.mod-box--contact-01>.detail-area>.contact-list>div>dd.link .tel::before {
		top: calc(50% - 11px);
	}

	.mod-box--contact-01>.detail-area>.contact-list>div>dd.link .tel a {
		text-decoration: none;
		padding-top: 10px;
		padding-bottom: 11px;
	}

	.mod-box--contact-01>.detail-area>.contact-list>div>dd.link .tel a:hover,
	.mod-box--contact-01>.detail-area>.contact-list>div>dd.link .tel a:active,
	.mod-box--contact-01>.detail-area>.contact-list>div>dd.link .tel a:focus {
		text-decoration: underline;
		background-color: #f8f8f8;
	}

	.mod-box--contact-01>.detail-area>.contact-list>div>dd.link .tel .sub {
		font-size: 1.4rem;
	}

	.mod-box--contact-01>.detail-area>.contact-list>div>dd.link .mail::before {
		top: calc(50% - 10px);
	}

	.mod-box--contact-01>.detail-area>.contact-list>div>dd.link+.link {
		margin-top: 0;
	}

	.mod-box--contact-01>.detail-area>.contact-list>div+div {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid #ccc;
	}

	.mod-box--contact-01> :first-child {
		margin-top: 0 !important;
	}

	.mod-panel--list-01 {
		margin-top: 40px;
	}

	.mod-panel--list-01>li {
		margin-left: 10px;
	}

	.mod-panel--list-01>li a>.content-area {
		margin-top: 5px;
	}

	.mod-panel--list-01>li a>.content-area>.title .text {
		padding: 0 20px 0 0;
	}

	.mod-panel--list-01>li a>.content-area>.title .text::before {
		top: calc(50% - 6px);
		right: 3px;
		left: auto;
	}

	.mod-panel--list-01>li a>.content-area>.title .detail {
		font-size: 1.4rem;
		line-height: 1.5;
	}

	.mod-panel--list-01.col-2>li {
		width: calc(50% - 5px);
	}

	.mod-panel--list-01.col-2>li:nth-of-type(n+3) {
		margin-top: 30px;
	}

	.mod-panel--list-01.col-3>li {
		width: calc(50% - 5px);
	}

	.mod-panel--list-01.col-3>li:nth-of-type(3n-2) {
		margin-left: 10px;
	}

	.mod-panel--list-01.col-3>li:nth-of-type(n+4) {
		margin-top: 30px;
	}

	.mod-panel--list-01.col-3>li:nth-of-type(2n-1) {
		margin-left: 0;
	}

	.mod-panel--list-01.col-3>li:nth-of-type(n+3) {
		margin-top: 30px;
	}

	.mod-panel--list-01.col-4>li {
		width: calc(50% - 5px);
	}

	.mod-panel--list-01.col-4>li:nth-of-type(4n-3) {
		margin-left: 10px;
	}

	.mod-panel--list-01.col-4>li:nth-of-type(n+5) {
		margin-top: 30px;
	}

	.mod-panel--list-01.col-4>li:nth-of-type(2n-1) {
		margin-left: 0;
	}

	.mod-panel--list-01.col-4>li:nth-of-type(n+3) {
		margin-top: 30px;
	}

	[class^="mod-layout--section-"]>[class^="mod-text--container-"]:first-child> :first-child {
		margin-top: 0 !important;
	}

	:root [class^="mod-layout--section-"]+* {
		margin-top: 20px;
	}

	.mod-layout--section-01> :first-child {
		margin-top: 0 !important;
	}

	.mod-layout--section-01 {
		padding: 40px 0;
	}

	.mod-layout--section-02 {
		padding: 40px 0;
	}

	.mod-layout--section-02> :first-child {
		margin-top: 0 !important;
	}

	.mod-layout--01.col-2>.col {
		width: 100%;
	}

	.mod-layout--01.col-2>.col:nth-of-type(2n) {
		margin-left: 0;
	}

	.mod-layout--01.col-2>.col>[class^="mod-text--container-"]:first-child> :first-child {
		margin-top: 0 !important;
	}

	.mod-layout--01.col-2>.col+.col {
		margin-top: 40px;
	}

	.mod-layout--01.col-2>.col> :first-child {
		margin-top: 0 !important;
	}

	.mod-media--img-01 {
		margin: 20px auto 0;
	}

	.mod-media--img-01>.img .caption {
		margin-top: 5px;
	}

	.mod-media--img-02>.wrap {
		display: inline-block;
	}

	.mod-media--img-02>.wrap .img {
		background-color: transparent;
		height: auto;
		padding-top: 0;
	}

	.mod-media--img-02>.wrap .img img {
		position: relative;
	}

	.mod-media--img-02>.wrap .caption {
		margin-top: 5px;
	}

	.mod-media--img-list-01 {
		margin: 40px auto 0;
	}

	.mod-media--img-list-01>li> :first-child {
		margin-top: 0 !important;
	}

	.mod-media--img-list-01.col-2>li {
		width: 100%;
	}

	.mod-media--img-list-01.col-2>li:nth-of-type(2n) {
		margin-left: 0;
	}

	.mod-media--img-list-01.col-2>li:nth-of-type(n+3) {
		margin-top: 20px;
	}

	.mod-media--img-list-01.col-2>li+li {
		margin-top: 20px;
	}

	.mod-media--img-list-01.col-3>li {
		width: 100%;
		margin-left: 0;
	}

	.mod-media--img-list-01.col-3>li:nth-of-type(n+4) {
		margin-top: 20px;
	}

	.mod-media--img-list-01.col-3>li+li {
		margin-top: 20px;
	}

	.mod-media--img-list-02 {
		margin: 40px auto 0;
	}

	.mod-media--img-list-02.col-4>li {
		width: calc(50% - 5px);
	}

	.mod-media--img-list-02.col-4>li:nth-of-type(4n-3) {
		margin-left: 10px;
	}

	.mod-media--img-list-02.col-4>li:nth-of-type(2n-1) {
		margin-left: 0;
	}

	.mod-media--img-list-02.col-4>li:nth-of-type(n+3) {
		margin-top: 10px;
	}

	.mod-media--img-list-02.col-5>li {
		width: calc(50% - 5px);
	}

	.mod-media--img-list-02.col-5>li:nth-of-type(5n-4) {
		margin-left: 10px;
	}

	.mod-media--img-list-02.col-5>li:nth-of-type(2n-1) {
		margin-left: 0;
	}

	.mod-media--img-list-02.col-5>li:nth-of-type(n+3) {
		margin-top: 10px;
	}

	.mod-media--img-layout-01 {
		flex-wrap: wrap;
		margin-top: 20px;
	}

	.mod-media--img-layout-01>.content-area p {
		margin-top: 20px;
	}

	.mod-media--img-layout-01>.content-area a {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.mod-media--img-layout-01>.content-area ul {
		margin-top: 20px;
	}

	.mod-media--img-layout-01>.content-area ul>li {
		line-height: 1.8;
		padding-left: 20px;
	}

	.mod-media--img-layout-01>.content-area ul>li::before {
		top: 10px;
	}

	.mod-media--img-layout-01>.content-area ul>li+li {
		margin-top: 5px;
	}

	.mod-media--img-layout-01>.content-area ol {
		margin-top: 20px;
	}

	.mod-media--img-layout-01>.content-area ol>li {
		line-height: 1.8;
		padding-left: 28px;
	}

	.mod-media--img-layout-01>.content-area ol>li+li {
		margin-top: 5px;
	}

	.mod-media--img-layout-01>.content-area> :first-child {
		margin-top: 0 !important;
	}

	.mod-media--img-layout-01>.img-area {
		width: 100%;
		max-width: 100%;
	}

	.mod-media--img-layout-01>.img-area>.img {
		max-width: 100%;
	}

	.mod-media--img-layout-01>.img-area>.img .caption {
		margin-top: 5px;
	}

	.mod-media--img-layout-01>.img-area> :first-child {
		margin-top: 0 !important;
	}

	.mod-media--img-layout-01.of-left>.content-area {
		margin-top: 10px;
		padding-left: 0;
	}

	.mod-media--img-layout-01.of-right>.content-area {
		padding-right: 0;
	}

	.mod-media--img-layout-01.of-right>.img-area {
		margin-top: 10px;
	}

	.mod-media--img-layout-01.var-01>.content-area {
		flex: 1 1 100%;
		margin-top: 20px;
	}

	.mod-media--img-layout-01.var-01>.img-area {
		flex: 1 1 100%;
		width: 100%;
		max-width: 100%;
	}

	.mod-media--img-layout-01.var-01>.img-area>.img {
		max-width: 100%;
	}

	.mod-media--youtube-01 {
		margin: 40px auto 0;
	}

	.mod-media--youtube-01>.caption {
		margin-top: 5px;
	}

	.mod-media--vimeo-01 {
		margin: 40px auto 0;
	}

	.mod-media--vimeo-01>.caption {
		margin-top: 5px;
	}

	.mod-media--sns-container-01 {
		margin-top: 30px;
	}

	.mod-media--sns-list-01 {
		margin-top: 15px;
	}

	.mod-media--sns-list-01>div {
		flex-wrap: wrap;
	}

	.mod-media--sns-list-01>div>dt {
		text-align: center;
		width: 100%;
	}

	.mod-media--sns-list-01>div>dt>.text::after {
		top: 2px;
	}

	.mod-media--sns-list-01>div>dd {
		margin-top: 15px;
	}

	.mod-media--sns-list-01>div>dd:first-of-type {
		margin-left: 0;
	}

	.mod-table--01 th a,
	.mod-table--01 td a {
		padding-top: 14px;
		padding-bottom: 14px;
	}

	.mod-table--container-01> :first-child {
		margin-top: 0 !important;
	}

	.mod-table--container-02>.table-layout> :first-child {
		margin-top: 0 !important;
	}

	.mod-table--container-scroll-01.is-scroll>.wrap {
		overflow-x: scroll;
	}

	.mod-table--container-scroll-01.is-scroll>.wrap>[class^="mod-table"] {
		min-width: 946px;
		table-layout: fixed;
	}

	.mod-table--container-scroll-01>.wrap>[class^="mod-table"] {
		margin-top: 0;
	}

	.mod-table--container-scroll-01 .scroll-switch {
		display: flex;
	}

	.mod-table--container-scroll-01> :first-child {
		margin-top: 0 !important;
	}

	.mod-tab--01 {
		margin-top: 17px;
	}

	.mod-tab--01.of-center .tab-list {
		justify-content: flex-start;
	}

	.mod-tab--01.of-center .tab-list>li {
		max-width: 100%;
	}

	.mod-tab--01 .tab-list>li {
		min-width: auto;
		min-height: 44px;
		margin-left: 3px;
	}

	.mod-tab--01.col-2 .tab-list>li {
		width: calc(50% - 1.5px);
	}

	.mod-tab--01.col-2 .tab-list>li:nth-of-type(n+3) {
		margin-top: 3px;
	}

	.mod-tab--01.col-3 .tab-list>li {
		width: calc((100% - 6px) / 3);
	}

	.mod-tab--01.col-3 .tab-list>li:nth-of-type(n+4) {
		margin-top: 3px;
	}

	.mod-tab--01.col-4 .tab-list>li {
		width: calc((100% - 6px) / 3);
	}

	.mod-tab--01.col-4 .tab-list>li:nth-of-type(4n-3) {
		margin-left: 3px;
	}

	.mod-tab--01.col-4 .tab-list>li:nth-of-type(n+5) {
		margin-top: 3px;
	}

	.mod-tab--01.col-4 .tab-list>li:nth-of-type(3n-2) {
		margin-left: 0;
	}

	.mod-tab--01.col-4 .tab-list>li:nth-of-type(n+4) {
		margin-top: 3px;
	}

	.mod-tab--01.col-5 .tab-list>li {
		width: calc((100% - 6px) / 3);
	}

	.mod-tab--01.col-5 .tab-list>li:nth-of-type(5n-4) {
		margin-left: 3px;
	}

	.mod-tab--01.col-5 .tab-list>li:nth-of-type(n+6) {
		margin-top: 3px;
	}

	.mod-tab--01.col-5 .tab-list>li:nth-of-type(3n-2) {
		margin-left: 0;
	}

	.mod-tab--01.col-5 .tab-list>li:nth-of-type(n+4) {
		margin-top: 3px;
	}

	.mod-tab--01.col-6 .tab-list>li {
		width: calc((100% - 6px) / 3);
	}

	.mod-tab--01.col-6 .tab-list>li:nth-of-type(6n-5) {
		margin-left: 3px;
	}

	.mod-tab--01.col-6 .tab-list>li:nth-of-type(n+7) {
		margin-top: 3px;
	}

	.mod-tab--01.col-6 .tab-list>li:nth-of-type(3n-2) {
		margin-left: 0;
	}

	.mod-tab--01.col-6 .tab-list>li:nth-of-type(n+4) {
		margin-top: 3px;
	}

	.mod-more--01 .more-btn {
		margin-top: 20px;
	}

	.mod-more--01 .more-btn>button {
		line-height: 1.5;
		max-width: 100%;
		min-height: auto;
		padding: 13px 40px;
	}

	.mod-toggle--faq-01 {
		margin-top: 30px;
	}

	.mod-toggle--faq-01>div>dt .faq-btn {
		padding: 20px 56px 20px 65px;
	}

	.mod-toggle--faq-01>div>dt .faq-btn .question {
		font-size: 1.6rem;
		top: 20px;
		left: 20px;
	}

	.mod-toggle--faq-01>div>dd .faq-content {
		padding: 20px 20px 20px 47px;
	}

	.mod-toggle--faq-01>div>dd .faq-content .answer {
		font-size: 1.6rem;
		top: 20px;
		left: 20px;
	}

	.mod-toggle--faq-01>div>dd .faq-content p {
		margin-top: 20px;
	}

	.mod-toggle--faq-01>div>dd .faq-content ul {
		margin-top: 20px;
	}

	.mod-toggle--faq-01>div>dd .faq-content ul>li {
		line-height: 1.8;
		padding-left: 20px;
	}

	.mod-toggle--faq-01>div>dd .faq-content ul>li::before {
		top: 10px;
	}

	.mod-toggle--faq-01>div>dd .faq-content ul>li+li {
		margin-top: 5px;
	}

	.mod-toggle--faq-01>div>dd .faq-content ol {
		margin-top: 20px;
	}

	.mod-toggle--faq-01>div>dd .faq-content ol>li {
		line-height: 1.8;
		padding-left: 28px;
	}

	.mod-toggle--faq-01>div>dd .faq-content ol>li+li {
		margin-top: 5px;
	}

	.mod-toggle--faq-01>div>dd .faq-content> :nth-child(2) {
		margin-top: 0;
	}

	.mod-carousel--01 {
		margin-top: 20px;
	}

	:root .mod-carousel--01+* {
		margin-top: 40px;
	}

	.mod-carousel--01 .mod-media--img-02>.wrap {
		display: block;
	}

	.mod-carousel--01 .mod-media--img-02>.wrap .img {
		background-color: #fff;
		height: 0;
		padding-top: 56.25%;
	}

	.mod-carousel--01 .mod-media--img-02>.wrap .img img {
		position: absolute;
	}

	.mod-carousel--01 .swiper-slide>.inner> :first-child {
		margin-top: 0 !important;
	}

	.mod-carousel--01 .swiper-btn-area {
		margin-top: 16px;
	}

	.mod-carousel--01 .swiper-btn-prev,
	.mod-carousel--01 .swiper-btn-next {
		width: 48px;
		height: 48px;
	}

	.page-top .mod-list--news-01 .wrap .detail-area .title {
		padding-left: 0;
	}

	.page-top .mod-list--news-01 .wrap .detail-area .title::before {
		display: none;
	}

	.top-hdg--lv1-01 {
		background-position: center;
		background-size: cover;
		min-height: 214px;
	}

	.top-hdg--lv1-01>.wrap> :first-child {
		margin-top: 0 !important;
	}

	.page-index .mod-list--news-01 .wrap .detail-area .title {
		padding-left: 0;
	}

	.page-index .mod-list--news-01 .wrap .detail-area .title::before {
		display: none;
	}

	.index-hdg--lv1-01 {
		min-height: 90px;
	}

	.index-hdg--lv1-01::after {
		width: 100px;
	}

	.index-hdg--lv1-01>.wrap>.content .hdg {
		font-size: 2rem;
	}

	.index-hdg--lv1-02 {
		min-height: 106px;
	}

	.index-hdg--lv1-02>.wrap .hdg {
		font-size: 2rem;
		line-height: 1.4;
		margin-top: 5px;
	}

	.index-hdg--lv1-02>.wrap> :first-child {
		margin-top: 0 !important;
	}

	.index-hdg--lv2-01 {
		font-size: 2.4rem;
		margin-top: 60px;
	}

	:root .index-hdg--lv2-01+* {
		margin-top: 20px;
	}

	.mod-layout--section-03 {
		padding: 40px 0;
	}

	.mod-layout--section-03> :first-child {
		margin-top: 0 !important;
	}

	.index-layout--section-01 {
		padding: 30px 0;
	}

	.index-layout--section-01> :first-child {
		margin-top: 0 !important;
	}

	.index-link--list-01 {
		margin-top: 30px;
		border-top: solid 1px #ccc;
		border-bottom: solid 1px #ccc;
	}

	.index-link--list-01>li {
		margin-left: 0;
	}

	.index-link--list-01>li .mod-link--01 {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.index-link--list-01>li+li {
		border-top: solid 1px #ccc;
	}

	.index-link--list-01.col-2>li {
		width: 100%;
	}

	.index-link--list-01.col-2>li:nth-of-type(n+3) {
		margin-top: 0;
	}

	.index-btn--01 {
		min-height: 50px;
	}

	.index-btn--container-01 {
		margin-top: 25px;
	}

	.index-media--img-layout-01 {
		flex-wrap: wrap;
		margin-top: 20px;
	}

	.index-media--img-layout-01>.content-area {
		flex: 1 1 100%;
		margin-top: 20px;
		padding: 30px 20px;
	}

	.index-media--img-layout-01>.content-area> :first-child {
		margin-top: 0 !important;
	}

	.index-media--img-layout-01>.img-area {
		flex: 1 1 100%;
	}

	.index-media--img-layout-01>.img-area>.img {
		text-align: center;
		height: auto;
	}

	.index-media--img-layout-01>.img-area>.img img {
		width: auto;
		height: auto;
	}

	.index-media--img-layout-01>.img-area> :first-child {
		margin-top: 0 !important;
	}

	.index-media--img-layout-01.of-right>.content-area {
		order: 2;
	}

	.index-media--img-layout-01.of-right>.img-area {
		order: 1;
	}

	.index-panel--carousel-01>.swiper-slide a {
		font-size: 1.6rem;
	}

	.index-panel--01 {
		max-width: 540px;
		margin-top: 30px;
	}

	.index-panel--01 a>.wrap {
		flex-wrap: wrap;
	}

	.index-panel--01 a>.wrap>.detail-area {
		flex: 1 1 100%;
		justify-content: center;
		padding: 13px 40px;
	}

	.index-panel--01 a>.wrap>.img {
		text-align: center;
		flex: 1 1 100%;
	}

	.index-panel--01 a>.wrap>.img img {
		width: auto;
		height: auto;
	}

	.index-panel--01 a>.wrap>.img> :first-child {
		margin-top: 0 !important;
	}

	.index-panel--01.of-right a>.wrap>.detail-area {
		order: 2;
	}

	.index-panel--01.of-right a>.wrap>.img {
		order: 1;
	}

	.index-panel--list-01 {
		margin-top: 30px;
	}

	.index-panel--list-01>.col {
		width: 100%;
		max-width: 540px;
		margin: 0 auto;
	}

	.index-panel--list-01>.col a {
		font-size: 1.6rem;
	}

	.index-panel--list-01>.col a>.wrap {
		padding-top: 0;
	}

	.index-panel--list-01>.col a>.wrap>.detail-area {
		order: 2;
		height: auto;
	}

	.index-panel--list-01>.col a>.wrap>.img {
		text-align: center;
		position: relative;
		order: 1;
		height: auto;
		padding-top: 0;
	}

	.index-panel--list-01>.col a>.wrap>.img img {
		position: relative;
	}

	.index-panel--list-01.col-2>.col {
		width: 100%;
	}

	.index-panel--list-01.col-2>.col:nth-of-type(2n-1) {
		margin: 0 auto;
	}

	.index-panel--list-01.col-2>.col:nth-of-type(n+3) {
		margin-top: 20px;
	}

	.index-panel--list-01.col-2>.col+.col {
		margin-top: 20px;
	}

	.index-panel--list-01.col-3>.col {
		width: 100%;
	}

	.index-panel--list-01.col-3>.col:nth-of-type(3n-2) {
		margin: 0 auto;
	}

	.index-panel--list-01.col-3>.col:nth-of-type(n+4) {
		margin-top: 20px;
	}

	.index-panel--list-01.col-3>.col+.col {
		margin-top: 20px;
	}

	.index-panel--list-01.col-4>.col {
		width: 100%;
	}

	.index-panel--list-01.col-4>.col:nth-of-type(4n-3) {
		margin: 0 auto;
	}

	.index-panel--list-01.col-4>.col:nth-of-type(n+5) {
		margin-top: 20px;
	}

	.index-panel--list-01.col-4>.col+.col {
		margin-top: 20px;
	}

	.index-panel--list-02 {
		margin-top: 30px;
	}

	.index-panel--list-02>.col {
		margin-left: 0;
	}

	.index-panel--list-02>.col a {
		font-size: 1.6rem;
	}

	.index-panel--list-02>.col a>.img-area {
		width: 75px;
	}

	.index-panel--list-02.col-2>.col {
		width: 100%;
	}

	.index-panel--list-02.col-2>.col:nth-of-type(2n-1) {
		margin-left: 0;
	}

	.index-panel--list-02.col-2>.col:nth-of-type(n+3) {
		margin-top: 10px;
	}

	.index-panel--list-02.col-2>.col+.col {
		margin-top: 10px;
	}

	.index-panel--list-02.col-2>.col> :first-child {
		margin-top: 0 !important;
	}

	.index-box--01 {
		flex-wrap: wrap;
		margin-top: 30px;
		padding: 20px;
	}

	.index-box--01>.title-area {
		width: 100%;
		padding: 0 0 10px 0;
	}

	.index-box--01>.title-area .title {
		text-align: left;
	}

	.index-box--01>.detail-area {
		width: 100%;
		padding: 0;
		border-top: 1px solid #ccc;
		border-left: 0;
	}

	.index-box--01>.detail-area .mod-list--news-01>li {
		border-bottom: 1px solid #ccc;
	}

	.index-box--01>.detail-area .mod-list--news-01>li+li {
		margin-top: 0;
	}

	.index-box--01>.detail-area .mod-list--news-01 .wrap {
		padding: 12px 20px 12px 0;
	}

	.index-box--01>.detail-area .mod-list--news-01 .wrap .date-area {
		width: 100%;
	}

	.index-box--01>.detail-area .mod-list--news-01 .wrap .detail-area {
		width: 100%;
	}

	.index-box--01>.detail-area> :first-child {
		margin-top: 0 !important;
	}

	.index-box--01> :first-child {
		margin-top: 0 !important;
	}

	.index-box--list-01 {
		margin-top: 30px;
	}

	.index-box--list-01>.col {
		margin-left: 0;
		padding: 30px 20px;
	}

	.index-box--list-01>.col .index-hdg--lv2-01 {
		font-size: 2.4rem;
	}

	:root .index-box--list-01>.col .index-hdg--lv2-01+* {
		margin-top: 20px;
	}

	.index-box--list-01>.col .index-link--list-01 {
		margin-top: 20px;
	}

	.index-box--list-01>.col> :first-child {
		margin-top: 0 !important;
	}

	.index-box--list-01.col-2>.col {
		width: 100%;
	}

	.index-box--list-01.col-2>.col:nth-of-type(n+3) {
		margin-top: 20px;
	}

	.index-box--list-01.col-2>.col+.col {
		margin-top: 20px;
	}

	.icon-blank-01 {
		width: 12px;
		height: 12px;
	}

	.icon-pdf-01 {
		width: 11px;
		height: 14px;
	}

	.icon-download-01 {
		width: 11px;
		height: 14px;
	}

	.for-pc {
		display: none !important;
	}

	.for-sp {
		display: inline-block !important;
	}
}